# Gradle files
.gradle/
build/

# Local configuration file
local.properties

# IntelliJ / Android Studio
*.iml
.idea/

# Editor backups
*~
*.bak
*.swp


/app/src/main/assets/database
/app/src/main/assets/grammar_theory